In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_squared_error

df = pd.read_excel('data/companies.xlsx')
df = df.dropna()
df

,company,cvr,yearly result latest (in thousands),yearly result previous (in thousands),yearly result before (in thousands),employees
0,NorthTech ApS,10121361,5.0,598.0,792.0,20
1,PFA,13594376,-79000.0,108000.0,10000.0,1464
2,Netcompany A/S,14814833,583573.0,570944.0,450133.0,2340
3,Elbek-vejrup,20117982,43935.0,54376.0,44403.0,171
4,ELLAB A/S,20896949,136500.0,98092.0,90317.0,166
5,Wilke A/S,21830445,3834.0,2006.0,1561.0,175
6,Novo Nordisk,24256790,47523000.0,42159000.0,39252000.0,22150
7,KMD A/S,26911745,53926.0,2893.0,173758.0,1855
8,Alpha Solutions,27506488,3477.0,4334.0,-2940.0,59
9,Formpipe,29177015,36583.0,14719.0,7525.0,87
10,Groupm Denmark A/S,30240782,1195.0,2757.0,1050.0,266
11,Wash World ApS,34486735,14822.0,13100.0,6902.0,72
12,Carve Consulting P/S,35211942,3821.0,5652.0,1273.0,46
13,Precure,38174010,-805.0,-373.0,-976.0,15
14,Meew,38455958,451.0,-81.0,-360.0,43
15,Ooono,38863398,7001.0,1451.0,-5790.0,40
16,Nuuday A/S,40075291,-390000.0,-410000.0,-748000.0,3642
17,Dynatest A/S,40916458,3581.0,9606.0,4530.0,36
18,Lejka,41354755,-1341.0,-550.0,-5.0,3
19,"Eriksholm Research Centre, Oticon",42334219,1525319.0,165416.0,551594.0,1602
22,Dafolo,61966617,36271.0,1339.0,40.0,83
23,Topdanmark,78416114,2170000.0,1098000.0,1501000.0,2317
24,Brøndby IF,83933410,83418.0,-25853.0,-78697.0,297

In [2]:
def predict_2022_result(company_name) :
    row = df[df['company'] == company_name].iloc[0]
    row = pd.Series(row)
    print(row)
    
    train_data = row.loc['yearly result before (in thousands)']
    test_data = row.loc['yearly result previous (in thousands)']

    # Creating the ARIMA model
    model = ARIMA(train_data, order=(1, 1, 1))
    model_fit = model.fit()
    
    # Making predictions on the testing data
    predictions = model_fit.forecast(steps=len(test_data))[0]
    
    # Evaluating the model's performance
    mse = mean_squared_error(test_data, predictions)
    rmse = np.sqrt(mse)
    print('RMSE:', rmse)
    
    # Making predictions for 2022
    forecast = model_fit.forecast(steps=1)[0]
    print('Predicted income for 2022:', forecast[0])
    print(f'Actual income for 2022: {row["yearly result latest (in thousands)"]}')

In [3]:
predict_2022_result('Meew')

<class 'pandas.core.series.Series'>

TypeError: object of type 'numpy.float64' has no len()